.confirm {
  margin: 1% 6%;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 0px 3px,
    rgba(0, 0, 0, 0.24) 0px 0px 2px;
}

.confirmOrder {
  width: 50%;
  padding: 3% 2% 6% 2%;
  color: black;
}

.address {
  color: black;
  border: 1px;
  width: 50%;
  padding: 3% 2% 6% 2%;
}
